/* Page background & center */
.signup-page {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f9fafb;
  padding: 16px;
}

/* Container */
.signup-container {
  width: 100%;
  max-width: 400px;
}

/* Header */
.signup-header {
  text-align: center;
  margin-bottom: 32px;
}

.signup-logo{
    display: flex;
    justify-content: center;
}

.app-title {
  font-size: 24px;
  font-weight: 600;
  color: #111827;
}

.app-logo{
    width: 30px;
    height: 40px;
}

.app-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

/* Card */
.signup-card {
  background-color: #ffffff;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
}

/* Card Header */
.card-header {
  margin-bottom: 24px;
}

.card-title {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.card-subtitle {
  font-size: 14px;
  color: #6b7280;
  margin-top: 4px;
}

/* Form */
.signup-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

/* Error */
.error-message {
  font-size: 14px;
  color: #b91c1c;
  background-color: #fee2e2;
  padding: 8px 12px;
  border-radius: 6px;
}

/* Button */
.signup-button {
  width: 100%;
  height: 40px;
  font-weight: 500;
}

/* Footer */
.card-footer {
  margin-top: 16px;
  text-align: center;
  font-size: 14px;
}

.signup-text{
  font-size: 14px;
  color: #6b7280;
}

.signup-link {
   color: #171717 !important;
  font-weight: 500;
  text-decoration: none;
}

.signup-link:hover {
  text-decoration: underline;
}

.field-error {
  font-size: 13px;
  color: #b91c1c;
}